# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

# These owners will be the default owners for everything in the repo.
#*       @brammool

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

src/iscygpty.*				@k-takata
src/libvterm/				@leonerd

runtime/autoload/getscript.vim		@cecamp
runtime/autoload/netrw.vim		@cecamp
runtime/autoload/netrwFileHandlers.vim	@cecamp
runtime/autoload/netrwSettings.vim	@cecamp
runtime/autoload/rubycomplete.vim	@segfault @dkearns
runtime/autoload/tar.vim		@cecamp
runtime/autoload/vimball.vim		@cecamp
runtime/autoload/xmlformat.vim		@chrisbra
runtime/autoload/zip.vim		@cecamp
runtime/compiler/checkstyle.vim		@dkearns
runtime/compiler/cucumber.vim		@tpope
runtime/compiler/dart.vim		@dkearns
runtime/compiler/dart2js.vim		@dkearns
runtime/compiler/dart2native.vim	@dkearns
runtime/compiler/dartanalyser.vim	@dkearns
runtime/compiler/dartdevc.vim		@dkearns
runtime/compiler/dartdoc.vim		@dkearns
runtime/compiler/dartfmt.vim		@dkearns
runtime/compiler/eruby.vim		@dkearns
runtime/compiler/gawk.vim		@dkearns
runtime/compiler/gjs.vim		@dkearns
runtime/compiler/haml.vim		@tpope
runtime/compiler/javac.vim		@dkearns
runtime/compiler/jest.vim		@dkearns
runtime/compiler/jjs.vim		@dkearns
runtime/compiler/jshint.vim		@dkearns
runtime/compiler/jsonlint.vim		@dkearns
runtime/compiler/lazbuild.vim		@dkearns
runtime/compiler/php.vim		@dkearns
runtime/compiler/rake.vim		@tpope @dkearns
runtime/compiler/rhino.vim		@dkearns
runtime/compiler/rspec.vim		@tpope @dkearns
runtime/compiler/rubocop.vim		@dkearns
runtime/compiler/ruby.vim		@tpope @dkearns
runtime/compiler/rubyunit.vim		@dkearns
runtime/compiler/sass.vim		@tpope
runtime/compiler/se.vim			@dkearns
runtime/compiler/shellcheck.vim		@dkearns
runtime/compiler/stylelint.vim		@dkearns
runtime/compiler/tcl.vim		@dkearns
runtime/compiler/tidy.vim		@dkearns
runtime/compiler/ts-node.vim		@dkearns
runtime/compiler/tsc.vim		@dkearns
runtime/compiler/typedoc.vim		@dkearns
runtime/compiler/xmllint.vim		@dkearns
runtime/compiler/xo.vim			@dkearns
runtime/compiler/zsh.vim		@dkearns
runtime/doc/pi_getscript.txt		@cecamp
runtime/doc/pi_logipat.txt		@cecamp
runtime/doc/pi_netrw.txt		@cecamp
runtime/doc/pi_tar.txt			@cecamp
runtime/doc/pi_vimball.txt		@cecamp
runtime/doc/pi_zip.txt			@cecamp
runtime/ftplugin/awk.vim		@dkearns
runtime/ftplugin/bst.vim		@tpope
runtime/ftplugin/cfg.vim		@chrisbra
runtime/ftplugin/css.vim		@dkearns
runtime/ftplugin/cucumber.vim		@tpope
runtime/ftplugin/eiffel.vim		@dkearns
runtime/ftplugin/eruby.vim		@tpope @dkearns
runtime/ftplugin/git.vim		@tpope
runtime/ftplugin/gitcommit.vim		@tpope
runtime/ftplugin/gitconfig.vim		@tpope
runtime/ftplugin/gitrebase.vim		@tpope
runtime/ftplugin/gitsendemail.vim	@tpope
runtime/ftplugin/gprof.vim		@dpelle
runtime/ftplugin/haml.vim		@tpope
runtime/ftplugin/hgcommit.vim		@k-takata
runtime/ftplugin/javascript.vim		@dkearns
runtime/ftplugin/javascriptreact.vim	@dkearns
runtime/ftplugin/kconfig.vim		@chrisbra
runtime/ftplugin/liquid.vim		@tpope
runtime/ftplugin/markdown.vim		@tpope
runtime/ftplugin/matlab.vim		@cecamp
runtime/ftplugin/nroff.vim		@a-vrma
runtime/ftplugin/nsis.vim		@k-takata
runtime/ftplugin/pdf.vim		@tpope
runtime/ftplugin/ruby.vim		@tpope @dkearns
runtime/ftplugin/sass.vim		@tpope
runtime/ftplugin/scss.vim		@tpope
runtime/ftplugin/spec.vim		@ignatenkobrain
runtime/ftplugin/tmux.vim		@ericpruitt
runtime/ftplugin/typescript.vim		@dkearns
runtime/ftplugin/typescriptreact.vim	@dkearns
runtime/ftplugin/xml.vim		@chrisbra
runtime/ftplugin/zsh.vim		@chrisbra
runtime/indent/bst.vim			@tpope
runtime/indent/cucumber.vim		@tpope
runtime/indent/dosbatch.vim		@k-takata
runtime/indent/eruby.vim		@tpope @dkearns
runtime/indent/gitconfig.vim		@tpope
runtime/indent/haml.vim			@tpope
runtime/indent/liquid.vim		@tpope
runtime/indent/nsis.vim			@k-takata
runtime/indent/ruby.vim			@AndrewRadev @dkearns
runtime/indent/sass.vim			@tpope
runtime/indent/scss.vim			@tpope
runtime/indent/sh.vim			@chrisbra
runtime/indent/teraterm.vim		@k-takata
runtime/indent/xml.vim			@chrisbra
runtime/indent/zsh.vim			@chrisbra
runtime/keymap/tamil_tscii.vim		@yegappan
runtime/pack/dist/opt/cfilter/plugin/cfilter.vim	@yegappan
runtime/pack/dist/opt/matchit/		@chrisbra
runtime/plugin/getscriptPlugin.vim	@cecamp
runtime/plugin/logiPat.vim		@cecamp
runtime/plugin/netrwPlugin.vim		@cecamp
runtime/plugin/tarPlugin.vim		@cecamp
runtime/plugin/vimballPlugin.vim	@cecamp
runtime/plugin/zipPlugin.vim		@cecamp
runtime/syntax/aidl.vim			@dpelle
runtime/syntax/amiga.vim		@cecamp
runtime/syntax/asm.vim			@dkearns
runtime/syntax/asmh8300.vim		@dkearns
runtime/syntax/awk.vim			@dkearns
runtime/syntax/bst.vim			@tpope
runtime/syntax/cabal.vim		@coot
runtime/syntax/cabalconfig.vim		@coot
runtime/syntax/cabalproject.vim		@coot
runtime/syntax/cs.vim			@nickspoons
runtime/syntax/cs.vim			@nickspoons
runtime/syntax/csh.vim			@cecamp
runtime/syntax/cucumber.vim		@tpope
runtime/syntax/datascript.vim		@dpelle
runtime/syntax/dcl.vim			@cecamp
runtime/syntax/doxygen.vim		@frogonwheels
runtime/syntax/dtd.vim			@chrisbra
runtime/syntax/elmfilt.vim		@cecamp
runtime/syntax/eruby.vim		@tpope @dkearns
runtime/syntax/exports.vim		@cecamp
runtime/syntax/git.vim			@tpope
runtime/syntax/gitcommit.vim		@tpope
runtime/syntax/gitconfig.vim		@tpope
runtime/syntax/gitrebase.vim		@tpope
runtime/syntax/gprof.vim		@dpelle
runtime/syntax/haml.vim			@tpope
runtime/syntax/haskell.vim		@coot
runtime/syntax/hgcommit.vim		@k-takata
runtime/syntax/kconfig.vim		@chrisbra
runtime/syntax/lex.vim			@cecamp
runtime/syntax/liquid.vim		@tpope
runtime/syntax/lisp.vim			@cecamp
runtime/syntax/lynx.vim			@dkearns
runtime/syntax/mailcap.vim		@dkearns
runtime/syntax/make.vim			@rohieb
runtime/syntax/make.vim			@rohieb
runtime/syntax/maple.vim		@cecamp
runtime/syntax/markdown.vim		@tpope
runtime/syntax/netrw.vim		@cecamp
runtime/syntax/nsis.vim			@k-takata
runtime/syntax/pdf.vim			@tpope
runtime/syntax/php.vim			@TysonAndre
runtime/syntax/privoxy.vim		@dkearns
runtime/syntax/rc.vim			@chrisbra
runtime/syntax/rpcgen.vim		@cecamp
runtime/syntax/ruby.vim			@dkearns
runtime/syntax/sass.vim			@tpope
runtime/syntax/scss.vim			@tpope
runtime/syntax/sh.vim			@cecamp
runtime/syntax/sm.vim			@cecamp
runtime/syntax/spec.vim			@ignatenkobrain
runtime/syntax/sqloracle.vim		@chrisbra
runtime/syntax/sshdconfig.vim		@Jakuje
runtime/syntax/tags.vim			@cecamp
runtime/syntax/teraterm.vim		@k-takata
runtime/syntax/tex.vim			@cecamp
runtime/syntax/tidy.vim			@dkearns
runtime/syntax/tmux.vim			@ericpruitt
runtime/syntax/vim.vim			@cecamp
runtime/syntax/wget.vim			@dkearns
runtime/syntax/xbl.vim			@dkearns
runtime/syntax/xmath.vim		@cecamp
runtime/syntax/xml.vim			@chrisbra
runtime/syntax/xslt.vim			@Boobies
runtime/syntax/xxd.vim			@cecamp
runtime/syntax/yacc.vim			@cecamp
runtime/syntax/zsh.vim			@chrisbra
runtime/tutor/tutor.eo			@dpelle
runtime/tutor/tutor.eo.utf-8		@dpelle
runtime/tutor/tutor.fr			@dpelle
runtime/tutor/tutor.fr.utf-8		@dpelle
src/po/de.po				@chrisbra
src/po/eo.po				@dpelle
src/po/fr.po				@dpelle
