# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# You can use github users with @user or email addresses

# These owners will be the default owners for everything in the repo.
*       @defunkt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.

src/libvterm/*				@leonerd

runtime/autoload/getscript.vim		@cecamp
runtime/autoload/netrw.vim		@cecamp
runtime/autoload/netrwFileHandlers.vim	@cecamp
runtime/autoload/netrwSettings.vim	@cecamp
runtime/autoload/tar.vim		@cecamp
runtime/autoload/vimball.vim		@cecamp
runtime/autoload/zip.vim		@cecamp
runtime/doc/pi_getscript.txt		@cecamp
runtime/doc/pi_logipat.txt		@cecamp
runtime/doc/pi_netrw.txt		@cecamp
runtime/doc/pi_tar.txt			@cecamp
runtime/doc/pi_vimball.txt		@cecamp
runtime/doc/pi_zip.txt			@cecamp
runtime/plugin/getscriptPlugin.vim	@cecamp
runtime/plugin/logiPat.vim		@cecamp
runtime/plugin/netrwPlugin.vim		@cecamp
runtime/plugin/tarPlugin.vim		@cecamp
runtime/plugin/vimballPlugin.vim	@cecamp
runtime/plugin/zipPlugin.vim		@cecamp
runtime/plugin/amiga.vim		@cecamp
runtime/plugin/csh.vim			@cecamp
runtime/plugin/dcl.vim			@cecamp
runtime/plugin/wlmfilt.vim		@cecamp
runtime/plugin/exports.vim		@cecamp
runtime/plugin/lex.vim			@cecamp
runtime/plugin/lisp.vim			@cecamp
runtime/plugin/maple.vim		@cecamp
runtime/plugin/netrw.vim		@cecamp
runtime/plugin/rpcgen.vim		@cecamp
runtime/plugin/sh.vim			@cecamp
runtime/plugin/sm.vim			@cecamp
runtime/plugin/tags.vim			@cecamp
runtime/plugin/tex.vim			@cecamp
runtime/plugin/vim.vim			@cecamp
runtime/plugin/xmath.vim		@cecamp
runtime/plugin/xxd.vim			@cecamp
runtime/plugin/yacc.vim			@cecamp
