# Unixen
*.o
src/vim
src/xxd/xxd

# We do need src/auto/configure and src/auto/config.mk.
src/auto/osdef.h
src/auto/config.aap
src/auto/config.cache
src/auto/config.h
src/auto/config.log
src/auto/config.status
src/auto/configure.aap
src/auto/link.log
src/auto/link.sed
src/auto/pathdef.c

# Windows
.hgignore
*.exe
*.idb
*.manifest
*.exp
*.obj
*.pdb
*.ilk
*.sln
*.suo
*.res
*.RES
src/pathdef.c
gvimext.dll
gvimext.lib

# All platforms
*.rej
*.orig
*.mo
*~
